name: Unit Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  prepare:
    name: Prepare Matrix
    runs-on: ubuntu-latest
    outputs:
      python-versions: ${{ steps.get-versions.outputs.python-versions }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Extract Python Versions from pyproject.toml
        id: get-versions
        run: |
          versions=$(poetry env info --python | grep -oP '(?<=>=)\d+\.\d+')
          json=$(echo $versions | jq -R -s 'split(" ")')
          echo "python-versions=$json" >> $GITHUB_OUTPUT

  test:
    name: Run Unit Tests on Multiple Machines
    needs: prepare
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ${{ fromJson(needs.prepare.outputs.python-versions) }}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install

      - name: Run tests
        run: |
          poetry run pytest --maxfail=1 --disable-warnings
